

<div class="aboutUs">
    <img class="imgAbout" src="../images/myPost.png" width="82%" />
   
   
    <div class="row">
        <div class="col-6" >
            <div class="aboutP" style="padding-left: 8rem;">
                Mintmade Online offers a well-curated range of fashion items for men and women.
            </div>
        </div>
        <div class="col-6" >
            <div class="aboutP">Mintddmade Online offers a well-curated range of fashion items for men and women.</div>
        </div>
        
    </div>
   

</div>