

   
   <div class="segundaPagina">
   <div class="white-space">


      <h1 class="title-div">A world of fashion to explore: start here</h1>
    </div>
    
    
    <div class="row">

      <div class="col35" style="background-image: url(../images/chaquetaMujer.jfif)">
       
            
            <div class="cat-title" >
              <a class="enlace" tabindex="-1" href="/camisetas">
                <h2 class="h3">
                  
                  CAMISETAS
                  
                </h2>
              </a>
            </div>
      
      </div>



      
      
      <div class="col35" style="background-image: url(../images/sudadera1.jfif)">
        
            
            <div class="cat-title" >
              <a class="enlace" tabindex="-1" href="/sudaderas" >
                <h2 class="h3">
                  
                   SUDADERAS
                  
                </h2>
              </a>
            </div>
       
      </div>
      
      <div class="col35"  style="background-image: url(../images/pantaloness.jpeg)">
        
            
            <div class="cat-title" >
              <a  class="enlace" href="/pantalones">
                <h2 class="h3">
                  
                   PANTALONES
                  
                </h2>
              </a>
            </div>
          
        
      </div>

      <div class="col35" style="background-image: url(../images/accesorios1.jfif)">
        
            
            <div class="cat-title" >
              <a class="enlace" href="/accesorios">
                <h2 class="h3">
                  
                    ACCESORIOS
                  
                </h2>
              </a>
            </div>
        
      </div>
      
    </div>


    


     
    </div>

 
