



  <!doctype html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>

    <%- include('header'); -%>

    
    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
          <h1>Something went grong</h1>
          <p class="lead"><%= msg %></p>
          <a class="btn btn-lg btn-primary" href="/" role="button">back to the home page &raquo;</a>
        </div>
      </main>
  

    
    

  

  <%- include('footer'); -%>

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html> 