<div class="whoAre">
    <div class="whoAre-main">
        <h1>who are we?</h1>
        <p style="padding-top: 2rem;">We are hand, the best clothing itr tht to mopping experience easier, giving new life to the garments, reducing textile waste.

        </p>
        <button style="margin-top: 2rem;" type="button" class="btn btn-primary">Conocenos</button>

    </div>


    <div class="whoAre-services">

        <div class="row">
            <div class="col-4" >
                <p>Mintmke Online offers a well-curated range of fashion items for men and women.</p>
            </div>
            <div class="col-4" >
                <p>Mintmade Online offers a well-curated range of fashion items for men and women.</p>
            </div>

            <div class="col-4" >
                <p>Mintmade Online offers a well-curated range of fashion items for men and women.</p>
            </div>
            
            
        </div>
    </div>
</div>